@media (min-width: 992px) {
  #main_nav .dropdown-menu {
    background-color: #13181a; }
    #main_nav .dropdown-menu a {
      color: lightgray; }
  #main_nav .dropdown-divider {
    border-color: #1a1f21; } }

* {
  color: grey;
  transition: 500ms; }

header, #main_nav {
  background-color: white; }
  header a, #main_nav a {
    color: grey; }
    header a .colored, #main_nav a .colored {
      color: #1ccdca; }
  header button, #main_nav button {
    background-color: transparent;
    border: none;
    font-size: 10px; }
  header div, #main_nav div {
    font-size: 10px; }
  header form div, #main_nav form div {
    width: 150px;
    height: 30px;
    border-radius: 15px; }
    header form div i, #main_nav form div i {
      color: #1ccdca; }
  header span i, #main_nav span i {
    color: #1ccdca; }
  header .active, #main_nav .active {
    background-color: #19b8b5 !important; }
    header .active span i, #main_nav .active span i {
      color: white; }
  header .active:hover span i, #main_nav .active:hover span i {
    color: white !important; }
  header .dropdown-item:hover, header #social_nav > .nav-item:hover, #main_nav .dropdown-item:hover, #main_nav #social_nav > .nav-item:hover {
    color: white; }
    header .dropdown-item:hover i, header #social_nav > .nav-item:hover i, #main_nav .dropdown-item:hover i, #main_nav #social_nav > .nav-item:hover i {
      color: white; }
    header .dropdown-item:hover span i, header #social_nav > .nav-item:hover span i, #main_nav .dropdown-item:hover span i, #main_nav #social_nav > .nav-item:hover span i {
      color: #19b8b5; }

header .dropdown-item:hover, header #social_nav > .nav-item:hover {
  background-color: #19b8b5 !important; }

h3 {
  font-size: 20px;
  color: black; }

h4 {
  font-size: 14px; }

p, a, li {
  font-size: 12px; }

footer {
  background-color: #131619; }
  footer a {
    color: grey; }
  footer a:hover {
    text-decoration: none;
    color: #1ccdca; }
  footer .colored:hover {
    color: #1ccdca; }

.progress {
  height: 25px;
  background-color: #2a3136; }

.progress-bar {
  transition: 2000ms;
  width: 1px;
  background-color: #2a3136; }

.card-header {
  cursor: pointer; }

.tab-content, .card-header {
  background-color: white; }

.btn-dark {
  background-color: #0c0f10;
  border-color: transparent; }

.modal-body .close {
  font-size: 30px;
  transform: translateY(-40px) translateX(40px); }

.dropdown {
  z-index: 1030; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0;
  min-width: auto; }

.dropright .dropdown-menu {
  transform: translateX(-2px); }

.dropleft .dropdown-menu {
  transform: translateX(2px); }

.dropdown-item {
  color: white; }

#main_nav .dropdown-menu .dropdown-item:hover {
  background-color: inherit; }

#slider1 {
  background-color: darkslategrey;
  color: white;
  height: 80vh; }

#slider2 {
  height: 60vh; }

#title_banner {
  background-color: #1B2228; }
  #title_banner h1 {
    color: white;
    font-size: 20px; }
  #title_banner p {
    font-size: 16px; }

#progress_bar_container {
  background-color: #3C464D; }
  #progress_bar_container h2 {
    color: white;
    font-size: 25px; }
  #progress_bar_container p {
    color: lightgray; }

#progress_bar_image {
  background-color: #1B2228;
  background-image: url("../images/bg_header4.jpg");
  background-size: cover; }

#counter_section i {
  font-size: 30px;
  color: #1ccdca; }

#counter_section h2 {
  color: #666666; }

#counter_section p {
  font-size: 20px; }

#pricing_plans_section .highlighted, #pricing_plans_section .activated-plan {
  background-color: #1ccdca; }
  #pricing_plans_section .highlighted span, #pricing_plans_section .activated-plan span {
    color: white; }

#pricing_plans_section .hexagon {
  background-image: url("../images/rounded-hexagon-filled.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  width: 75px;
  padding-top: 15px;
  transform: translateY(-40px); }

#pricing_plans_section span {
  transform: translateY(-20px); }

#pricing_plans_section th {
  color: #1ccdca;
  max-height: 100px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#pricing_plans_section button {
  border-radius: 20px; }

#pricing_plans_section button:hover {
  background-color: #576162; }
  #pricing_plans_section button:hover i {
    color: white; }

#pricing_plans_section h5, #pricing_plans_section h6, #pricing_plans_section span {
  color: #1ccdca;
  transition-delay: 300ms; }

#pricing_plans_section h6 {
  font-size: 10px;
  margin-bottom: 15px; }

#pricing_plans_section table:hover th {
  background-color: #1ccdca; }

#pricing_plans_section table:hover span {
  color: white; }

#shopping_cart:hover i {
  color: #1ccdca; }

#submit {
  background-color: #1ccdca;
  color: white; }
  #submit i {
    color: white; }

#submit:hover {
  background-color: #324545; }

#google_map {
  width: 100%;
  height: 400px;
  border-top: solid white 1px; }

#video_button {
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  #video_button div {
    background-color: #1ccdca;
    position: absolute; }
  #video_button img {
    opacity: 0.7; }
  #video_button #play_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1ccdca;
    position: absolute;
    z-index: 1;
    opacity: 1; }
  #video_button #play_button:hover {
    transform: rotate(120deg); }

#video_button:hover img {
  opacity: 0.4; }

.fancy-line div {
  width: 200px;
  border-top: solid 1px lightgray; }
  .fancy-line div div {
    width: 50%;
    border-top: solid 1px #1ccdca;
    transform: translateY(-1px); }
    .fancy-line div div i {
      font-size: 10px;
      color: #1ccdca;
      transform: translateY(-15px) translateX(-9px); }
    .fancy-line div div i.white-icon {
      transform: translateY(-6px) translateX(0px);
      background-color: white; }
    .fancy-line div div i.grey-icon {
      transform: translateY(-11px) translateX(0px);
      background-color: #f9fafc;
      font-size: 20px; }

.fancy-line .extra-long div {
  width: 300px; }

.fancy-line.extra-long div {
  width: 300px; }
  .fancy-line.extra-long div div {
    width: 30%; }

.fancy-line:hover div div {
  width: 75%; }

.small-round-button {
  height: 30px;
  width: 30px; }
  .small-round-button i {
    color: grey;
    font-size: 10px; }

.tab-header a {
  color: grey; }

.tab-header .active {
  color: #1ccdca !important;
  font-weight: bold;
  border-top: solid #1ccdca !important; }

.accordion-header {
  background-color: #1ccdca; }
  .accordion-header b, .accordion-header i {
    color: white; }

.accordion-header.collapsed {
  background-color: unset; }
  .accordion-header.collapsed b, .accordion-header.collapsed i {
    color: unset; }

.background-grey {
  background-color: #f9fafc;
  border: solid #eaebed;
  border-width: 1px 0; }

.background-purple {
  background-color: #684962; }
  .background-purple h3 {
    color: white; }

.background-almost-black {
  background-color: #191e21;
  border: solid #323437;
  border-width: 1px 0; }
  .background-almost-black h4, .background-almost-black h5, .background-almost-black span, .background-almost-black a {
    color: white;
    text-decoration: none; }
  .background-almost-black h5, .background-almost-black h6 {
    font-weight: normal; }
  .background-almost-black button, .background-almost-black span, .background-almost-black input, .background-almost-black h5 {
    font-size: 12px; }
  .background-almost-black button {
    color: grey; }
  .background-almost-black button:hover {
    background-color: #0c0f10;
    border-color: #1ccdca; }
  .background-almost-black hr {
    border-color: #323437; }
  .background-almost-black #logo {
    max-height: 125px; }
  .background-almost-black #read_more i {
    color: white;
    transition-delay: 500ms; }
  .background-almost-black #read_more:hover {
    border-color: transparent; }
    .background-almost-black #read_more:hover span, .background-almost-black #read_more:hover i {
      color: #1ccdca; }
  .background-almost-black #read_more_posts em {
    color: #1ccdca; }
  .background-almost-black #read_more_posts em::before, .background-almost-black #read_more_posts em::after {
    content: "\f061";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    transition: 500ms; }
  .background-almost-black #read_more_posts em::after {
    opacity: 0; }
  .background-almost-black #read_more_posts:hover em {
    color: white; }
  .background-almost-black #read_more_posts:hover em::before {
    color: #1ccdca;
    opacity: 0; }
  .background-almost-black #read_more_posts:hover em::after {
    color: #1ccdca;
    opacity: 1; }
  .background-almost-black #author i:hover {
    color: #1ccdca; }
  .background-almost-black #author:hover h6 {
    color: #1ccdca; }
  .background-almost-black #author_image {
    display: inline-block;
    transform: translateY(-20px) translateX(20px); }
  .background-almost-black .newsletter i {
    color: white; }
  .background-almost-black .newsletter:hover {
    background-color: #1ccdca; }
  .background-almost-black .image-button {
    position: relative;
    display: inline-block; }
    .background-almost-black .image-button div {
      background: #1ccdca;
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .background-almost-black .image-button div i {
        color: white;
        font-size: 20px; }
  .background-almost-black .image-button:hover div {
    opacity: 1; }

.round-icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 1px #1ccdca;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ccdca;
  font-size: 30px; }
  .round-icon i {
    color: #1ccdca; }

.round-icon-parent:hover h4 {
  transition-delay: 500ms;
  color: #1ccdca; }

.round-icon-parent:hover .round-icon {
  background-color: #1ccdca;
  animation: shadow-fade 500ms; }
  .round-icon-parent:hover .round-icon i {
    color: white; }

.progress-tag {
  min-width: 1px; }

.progress-percentage {
  color: #2a3136;
  transition-duration: 2000ms; }

.arrow-list li {
  padding-bottom: 5px; }

.arrow-list li:before {
  content: "\f061";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 10px;
  color: white;
  border-radius: 50%;
  background-color: #e74c3c;
  margin: 5px;
  padding: 3px; }

.faded-out {
  opacity: 0; }

.services-card .round-icon {
  background-color: #19b8b5; }
  .services-card .round-icon i {
    color: white; }

.services-card:hover h4 {
  color: #1ccdca; }

.highlighted {
  background-color: #1ccdca;
  color: white; }

.colored {
  color: #1ccdca; }

.colored-background {
  background-color: #1ccdca; }

.colored-border {
  border-color: #1ccdca; }

@keyframes shadow-fade {
  0% {
    box-shadow: 0 0 0 10px rgba(28, 205, 202, 0); }
  100% {
    box-shadow: 0 0 0 0 #1ccdca; } }
