* {
  color: grey; //TODO make variable
}

header {
  a {
    color: grey;
  }
  div {
    font-size: 10px;
    button {
      background-color: transparent;
      border: none;
    }
  }
  form {
    div {
      width: 150px;
      height: 30px;
      border-radius: 15px;
      i {
        color: #1ccdca; //TODO make variable
      }
    }
  }
}

h3 {
  font-size: 20px;
  color: black;
}

h4 {
  font-size: 14px;

}

p, a, li {
  font-size: 12px;
}

//Bootstrap class modification BEGIN

.container {
  max-width: 1000px;
  padding: 0;
}

.progress {
  height: 25px;
  background-color: #2a3136;
}

.card-header {
  cursor:pointer;
}

//Bootstrap modification End

#shopping_cart {
  height: 30px;
  width: 30px;
  i {
    color: grey;
  }
}

#slider1 {
  background-color: darkslategrey;
  color: white;
  height: 80vh;
}

#title_banner {
  background-color: #1B2228;

  h1 {
    color: white;
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

#progress_bar_container {
  background-color: #3C464D;
  h2 {
    color: white;
    font-size: 25px;
  }
  p {
    color: lightgray;
  }
}

#progress_bar_image {  //TODO make variable here
  background-color: #1B2228;
  background-image: url("../images/bg_header4.jpg");
  background-size: cover;
}

.round-icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 1px #1ccdca;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1ccdca;
  font-size: 30px;
  i {
    color: #1ccdca;
  }
}

.arrow-list {
  li {
    padding-bottom: 5px;
  }
  li:before {
    content: "\f061";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 10px;
    color: white;
    border-radius: 50%;
    background-color: #e74c3c;
    margin: 5px;
    padding: 3px;
  }
}